<section id="menu" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a [routerLink]="['/SANDER1/how-to']" class="menu-item main">
          <h3>How to buy <span class="alt-bold">SANDER1</span> tokens</h3>
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['/SANDER1/details']" class="menu-item">
          <h3><span class="alt-bold">SANDER1</span><br>token details</h3>
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['/SANDER1/details']" fragment="token-distro" class="menu-item">
          <h3><span class="alt-bold">SANDER1</span><br>token distribution</h3>
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['/SANDER1/about']" class="menu-item about text-center">
          <h3>About</h3>
          <img class="logo" src="assets/svg/logo-superander-italic.svg" alt="Súper Ánder">
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['/SANDER1/facks']" fragment="facks" class="menu-item">
          <h3>FACKS!<br><small>frequently asked ckuestions</small></h3>
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['/SANDER1/roadmap']" fragment="roadmap" class="menu-item text-center">
          <h3>Roadmap</h3>
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['/SANDER1/smart-contract-details']" fragment="contracts" class="menu-item">
          <h3>Smart Contract<br><small>details</small></h3>
        </a>
      </div>
    </div>
  </div>
</section>
