@import "sass/styles";

.qr-wrapper {
  background-color: darken($black, 3%);
  border-radius: $border-radius;
  margin-bottom: get-spacer(3);
  border: 3px solid white;
  padding: get-spacer(2);
  padding-bottom: 0;
  min-height: 40vh;
  @include media-breakpoint-down(sm) {
    border: none;
  }
  img {
    height: auto;
    width: 100%;
  }
  .data {
    @include flex-column-center;
    @include flex-align-end;
    text-align: right;
    min-height: 70px;
    color: white;
    .token-name {
      @include alt-bold;
      display: block;
    }
    .etherscan-link {
      max-width: 180px;
      display: block;
    }
  }
}
