<section id="warning" class="section">
  <div class="container">
    <h2 class="display-1 bold">WARNING!</h2>
    <h3 class="bold">Before sending ETH to this crowdsale,<br>please verify that the addresses match:</h3>
    <app-ens-addresses></app-ens-addresses>
  </div>
</section>

<section id="how-to" class="section">
  <div class="container">
    <header class="section-header">
      <h2 class="bold">How to buy <span class="alt-bold">SANDER1</span> tokens</h2>
      <h4>Investing in Súper Ánder is straight forward:</h4>
    </header>
    <div class="row align-items-center">
      <div class="col-sm-7 steps-wrapper">
        <ol class="steps">
          <li>
            <h5>Download an Ethereum wallet application</h5>
            <p>We recommend <a href="https://trustwallet.com/" target="_blank">Trust wallet</a> as it is backed by Binance,<br>a well known crypto-exchange.</p>
          </li>
          <li>
            <h5>Create an Ethereum address</h5>
            <p>Your address will look like this: <span class="eth-address">{{ ens.wallet.address }}</span>,<br>and it is unique to you.</p>
            <p>This address will hold the tokens you receive from your investment.</p>
          </li>
          <li>
            <h5>Scan this QR Code with your Ethereum wallet</h5>
            <p>Send ETH to it to receive <span class="alt-bold">SANDER1</span>
              tokens.</p>
          </li>
        </ol>
        <nav>
          <a [routerLink]="['/SANDER1/how-to']" fragment="how-to-menu" class="btn btn-yellow">Read detailed information</a>
        </nav>
      </div>
      <div class="col-sm-5 qr-wrapper">
        <div class="qr">
          <app-crowdsale-qr-code></app-crowdsale-qr-code>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="how-to-menu" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a [routerLink]="['/SANDER1/how-to']" fragment="creating-an-ethereum-wallet" class="menu-item">
          <h3>Creating an <br>Ethereum wallet</h3>
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['/SANDER1/how-to']" fragment="the-seed-phrase" class="menu-item">
          <h3>Securing your wallet</h3>
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['/SANDER1/how-to']" fragment="managing-your-wallet" class="menu-item">
          <h3>Managing your wallet</h3>
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['/SANDER1/how-to']" fragment="buying-ether" class="menu-item">
          <h3>Buying Ether (ETH)</h3>
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['/SANDER1/how-to']" fragment="buying-tokens" class="menu-item">
          <h3>Buying<br> <span class="alt-bold">SANDER1</span> tokens</h3>
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['/SANDER1/how-to']" fragment="about-the-crowdsale-contract" class="menu-item">
          <h3>The SuperCrowdsale smart contract</h3>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="detailed-information" class="section">
  <div class="container-md">
    <header class="section-header">
      <h2 class="bold">Detailed information</h2>
      <h4>about how to buy and invest in <span class="alt-bold">SANDER1</span> tokens</h4>
    </header>
    <h5>Some of these concepts may sound new to you, but the main idea is that you will hold "shares" of the 1st studio album of <span class="alt-bold">Súper Ánder</span> and that you will receive dividends in form of ETH every 3 months depending on the percentage of shares that you posess.</h5>
    <p>In order to hold or have control of these "shares", which we'll call <em>tokens</em>, you need an Ethereum wallet. A wallet is an application that can either be a mobile app, a browser extension, a web app or even hardware.</p>
    <p>Any of these wallets will allow you to access the same exact Ethereum address via your <strong>private keys</strong>.</p>
    <p>In this tutorial, we will display screenshots of <a href="https://trustwallet.com/" target="_blank">Trust Wallet</a>, a popular mobile application for iOS or Android that allows you to create and manage Ethereum addresses.</p>
    <h4 class="bold" id="creating-an-ethereum-wallet">Creating an Ethereum wallet</h4>
    <div class="row separator">
      <div class="col-sm-4">
        <img src="assets/img/tutorial/settings.jpg" alt="settings">
      </div>
      <div class="col-sm-8">
        <p>Once you've downloaded Trust Wallet, go to the settings tab and click on "Wallets".</p>
      </div>
    </div>
    <div class="row separator">
      <div class="col-sm-8">
        <p>The following view will display a list of all your wallets.</p>
        <p>Think of each wallet as a single Ethereum address.</p>
      </div>
      <div class="col-sm-4">
        <img src="assets/img/tutorial/wallets.jpg" alt="wallets">
      </div>
    </div>
    <div class="row separator">
      <div class="col-sm-4">
        <img src="assets/img/tutorial/private.jpg" alt="private">
      </div>
      <div class="col-sm-8">
        <p>Click on the plus (+) sign at the top-right part of the screen.</p>
        <p>Swipe through the steps and click on "Create wallet".</p>
      </div>
    </div>
    <div class="separator">
      <h4 class="bold" id="the-seed-phrase">The 12 words seed phrase</h4>
      <p>Also known as the "mnemonic phrase" or "mnemonic seed", this <em>12 words phrase</em> is unique to the entire Ethereum network.</p>
      <p class="text-danger"><strong>THIS IS YOUR PASSWORD TO YOUR WALLET</strong>. It is not stored in any server or database, only in your device. <strong>Losing your phrase means losing your funds, so pay attention</strong>.</p>
      <p>At this point, Trust Wallet should request that you copy and store these 12 words somewhere safe. Copy and paste the phrase in your password manager or in a place only you have access to and confirm the phrase in the next view.</p>
    </div>
    <h4 class="bold" id="managing-your-wallet">Managing your wallet</h4>
    <div class="row separator">
      <div class="col-sm-4">
        <img src="assets/img/tutorial/my-investments-wallet.jpg" alt="my-investments-wallet">
      </div>
      <div class="col-sm-8">
        <p>Your new wallet should be listed in the Wallets index.</p>
        <p>You can rename your wallet to whatever tickles your fancy.</p>
      </div>
    </div>
    <div class="row separator">
      <div class="col-sm-8">
        <p>By clicking on any of your wallets, you'll see your ETH balance and all of the tokens and coins linked to your wallet.</p>
        <p>A new wallet has none of the above.</p>
      </div>
      <div class="col-sm-4">
        <img src="assets/img/tutorial/tokens.jpg" alt="tokens">
      </div>
    </div>
    <h4 class="bold" id="buying-ether">Buying Ether</h4>
    <div class="separator">
      <p>In order to interact with the Ethereum network, you need ETH. ETH is the symbol of the Ether crypto-currency.</p>
      <p>Owning ETH allows you to send money to another wallet. You can send money to smart contracts too.</p>
      <p>Buying ETH is straight forward, think of it as any other currency exchange transaction. You will buy ETH in exchange of USD, MXN, AUD, BP, EURO; or whatever your currency is.</p>
      <p>Here is a list of exchanges where you can buy ETH with Visa, Mastercard and sometimes a Wire Transfer:</p>
      <a href="https://list.wiki/Cryptocurrency_Exchanges#List_of_Cryptocurrency_Exchange_Platforms" target="_blank" class="btn btn-yellow">List of crypto-currency exchanges</a>
    </div>
    <h4 class="bold" id="buying-tokens">Buying tokens</h4>
    <div class="row separator">
      <div class="col-sm-4">
        <img src="assets/img/tutorial/ethereum.jpg" alt="ethereum">
      </div>
      <div class="col-sm-8">
        <p>Clicking on the Ethereum balance should display only your ETH balance and the options to SEND and RECEIVE ETH.</p>
        <p>It is time to buy <span class="alt-bold">SANDER1</span> tokens.</p>
        <p>Click on the SEND button.</p>
      </div>
    </div>
    <div class="row separator">
      <div class="col-sm-8">
        <p>Next, we will input the recipient address. You can either copy and paste this address: {{ ens.crowdsale.address }} or scan this QR code by clicking in the QR icon at the right of the input.</p>
        <div class="qr">
          <app-crowdsale-qr-code></app-crowdsale-qr-code>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="assets/img/tutorial/qr-code.jpg" alt="qr-code">
      </div>
    </div>
    <div class="row separator">
      <div class="col-sm-4">
        <img src="assets/img/tutorial/eth-input.jpg" alt="eth-input">
      </div>
      <div class="col-sm-8">
        <p>Input the amount of ETH you are willing to invest and click send.</p>
        <p>This will start an Ethereum transaction that you can track by clicking on the transaction item that will be generated after sending the ETH to the contract address.</p>
      </div>
    </div>
  </div>
</section>
<section id="about-the-crowdsale-contract" class="section">
  <div class="container-md">
    <h2 class="bold">About the <em>SuperCrowdsale</em> smart contract</h2>
    <h5>The Ethereum address that you will input in the recipient address is not the <a href="{{ ens.wallet.url }}" target="_blank">wallet.superander.eth</a> address. This other address is special because you will <strong>send the ETH funds to a smart contract, not to another wallet.</strong></h5>
    <p>This smart contract is a custom crowdsale contract called SuperCrowdsale, <a href="https://github.com/netpoe/SANDER1/blob/master/contracts/SuperCrowdsale.sol" target="_blank">(you can check the code here)</a>. This smart contract is specifically designed to send <span class="alt-bold">SANDER1</span> tokens in exchange of ETH.</p>
    <p>When the SuperCrowdsale contract receives an ETH transaction with a value greater than 0, it will calculate the amount of tokens that correspond to the value of ETH sent and it will transfer you the tokens and transfer the ETH to the <a href="{{ ens.wallet.url }}" target="_blank">wallet.superander.eth</a> address. After this, you should see your <span class="alt-bold">SANDER1</span> tokens listed in your wallet.</p>
    <p>The SuperCrowdsale contract is a capped crowdsale contract, meaning that once it reaches its ETH cap ({{ config.crowdsale.cap }} ETH), it will block future transactions.</p>
    <h3 class="bold">Before sending ETH to the SuperCrowdsale contract, please verify that the addresses match:</h3>

    <app-ens-addresses></app-ens-addresses>

  </div>
</section>

<app-menu></app-menu>
