<section id="roadmap" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <header class="section-header">
          <h2 class="bold">Roadmap</h2>
          <h4>All studio recordings include: pre-production, production, mix, master, copyright, single art and distribution.</h4>
        </header>
      </div>
    </div>
  </div>
  <div class="container">
    <article>
      <div class="date">
        <span class="day">March</span>
        <span class="year">2019</span>
      </div>
      <div class="description">
        <h4>1984</h4>
        <p>First studio recording.</p>
        <p><strong>Genre</strong>: Rock en español.<br>Dirty guitar solos, a grungy overdrive and defiant lyrics.</p>
        <p><strong>Studio</strong>: Valenzo Studio, Mexico City</p>
      </div>
    </article>
  </div>
  <div class="container">
    <article>
      <div class="date">
        <span class="day">April</span>
        <span class="year">2019</span>
      </div>
      <div class="description">
        <h4>Volver a comenzar</h4>
        <p><strong>Studio</strong>: TBD</p>
      </div>
    </article>
  </div>
  <div class="container">
    <article>
      <div class="date">
        <span class="day">May</span>
        <span class="year">2019</span>
      </div>
      <div class="description">
        <h4>Post-milenial millonario</h4>
        <p><strong>Genre</strong>: Rap Rock.<br>Sounds like steps of a giant crushing streets and buildings.</p>
        <p><strong>Studio</strong>: TBD</p>
      </div>
    </article>
  </div>
  <div class="container">
    <article>
      <div class="date">
        <span class="day">June</span>
        <span class="year">2019</span>
      </div>
      <div class="description">
        <h4>La Zeta Uno</h4>
        <p><strong>Genre</strong>: Ethnic Rock.<br>Enjoy mayan marimba overdrive.</p>
        <p><strong>Studio</strong>: TBD</p>
      </div>
    </article>
  </div>
  <div class="container">
    <article>
      <div class="date">
        <span class="day">July</span>
        <span class="year">2019</span>
      </div>
      <div class="description">
        <h4>Take 5e18</h4>
        <p><strong>Genre</strong>: Space jazz.<br>Exploration of a very cool bass line.</p>
        <p><strong>Studio</strong>: TBD</p>
      </div>
    </article>
  </div>
  <div class="container">
    <article>
      <div class="date">
        <span class="day">August</span>
        <span class="year">2019</span>
      </div>
      <div class="description">
        <h4>Farándula Militar</h4>
        <p><strong>Studio</strong>: TBD</p>
      </div>
    </article>
  </div>
  <div class="container">
    <article>
      <div class="date">
        <span class="day">September</span>
        <span class="year">2019</span>
      </div>
      <div class="description">
        <h4>¡Bang!</h4>
        <p><strong>Studio</strong>: TBD</p>
      </div>
    </article>
  </div>
  <div class="container">
    <article>
      <div class="date">
        <span class="day">October</span>
        <span class="year">2019</span>
      </div>
      <div class="description">
        <h4>Ámbar</h4>
        <p><strong>Studio</strong>: TBD</p>
      </div>
    </article>
  </div>
  <div class="container">
    <article>
      <div class="date">
        <span class="day">November</span>
        <span class="year">2019</span>
      </div>
      <div class="description">
        <h4>Quela rum baven gati</h4>
        <p><strong>Genre</strong>: Industrial Reggaeton.<br>Deep voices with native languages and instruments. Plus a dirty touch of synth.</p>
        <p><strong>Studio</strong>: TBD</p>
      </div>
    </article>
  </div>
  <div class="container">
    <article>
      <div class="date">
        <span class="day">December</span>
        <span class="year">2019</span>
      </div>
      <div class="description">
        <h4>The Dutch Bomba!</h4>
        <p><strong>Genre</strong>: Industrial Mexico Techno.<br>With dutch rap.</p>
        <p><strong>Studio</strong>: TBD</p>
      </div>
    </article>
  </div>
</section>

<app-menu></app-menu>
