<main role="main" class="site-wrapper">
  <section id="intro" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 offset-sm-3">
          <h1 class="title alt-bold"><small>Invest in decentralized music,</small><br>invest in <u>SúperÁnder</u>!</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="qr-wrapper">
            <img src="assets/img/supercrowdsale-qr.png" alt="0xb10b0e88f1f6871ffe778078b914161b9e9ebedd">
            <div class="data">
              <span class="token-name">SANDER1</span>
              <a href="#" target="_blank" class="etherscan-link text-truncate text-yellow">0xb10b0e88f1f6871ffe778078b914161b9e9ebedd</a>
            </div>
          </div>
          <div class="info-block">
            <p>Scan this QR with your wallet and send the amount of ETH you are willing to invest.<br><a href="#details">See
                token
                info</a></p>
            <p><label>Wallet:</label><a target="_blank" href="#">wallet.superander.eth</a></p>
            <p><label>Token:</label><a target="_blank" href="#">SANDER1.superander.eth</a></p>
            <p><label>SuperCrowdsale:</label><a target="_blank" href="#">supercrowdsale.superander.eth</a></p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="video-wrapper">
            <video width="100%" height="auto" controls>
              <source src="assets/video/SuperAnder_low.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="info-block outline">
            <h4>Amount raised: 5 ETH</h4>
            <h4>Total cap: 249.4 ETH.</h4>
          </div>
          <small class="created-with">ICO powered by <a href="#" target="_blank">simpleico.com</a></small>
        </div>
      </div>
    </div>
  </section>
  <section id="details" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="token-img-wrapper">
            <img src="assets/svg/superander-token-light.svg" alt="superander token SANDER1" class="superander-token">
          </div>
          <header class="section-header">
            <h3>Each</h3>
            <h2 class="sander-1 display-2 alt-bold">SANDER1</h2>
            <h3 class="display-4">equals 1 song</h3>
          </header>
        </div>
        <div class="col-sm-5">
          <div class="details">
            <h3 class="bold">Invest in the 1st full-length album of <span class="alt-bold">SúperÁnder!</span></h3>
            <br>
            <h4>Each song is worth {{ this.config.song.price.USD | currency }} USD/ETH</h4>
            <h4>The album will have {{ this.config.song.amount }} songs, {{ (this.config.song.price.USD *
              this.config.song.amount) | currency }}
              USD/ETH</h4>
            <h4>By owning a share of <span class="alt-bold">SANDER1</span> tokens you'll participate in {{
              (this.config.crowdsale.shares * 100) }}% of the
              album
              total earnings. Forever.</h4>
          </div>
          <div class="spotify-widget-wrapper">
            <iframe src="https://open.spotify.com/embed/artist/4M0tyK4jalTpqDIK3MXeK1" width="100%" height="160"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
          <a class="btn btn-yellow btn-lg" href="#token-distro">See token distribution</a>
        </div>
      </div>
    </div>
  </section>
  <section id="backyard">
    <video width="100%" height="auto" controls>
      <source src="assets/video/intro_paisaje_music.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </section>
  <section id="token-distro" class="section">
    <div class="container-md">
      <img src="assets/img/token-distro.png" alt="token distro" class="img-responsive">
    </div>
  </section>
</main>

<app-footer></app-footer>
