@import "sass/styles";

#intro {
  @include flex-column-center;
  @include main;

  .title {
    margin-bottom: get-spacer(5);
    color: white;
  }

  .video-wrapper {
    margin-bottom: get-spacer(3);
    background-color: black;
  }

  .video-wrapper,
  .qr-wrapper,
  .info-block {
    background-color: darken($black, 3%);
    border-radius: $border-radius;
    padding: get-spacer(2);
  }

  .video-wrapper {
    padding-bottom: 0;
  }

  .qr-wrapper {
    margin-bottom: get-spacer(3);
    border: 3px solid white;
    padding-bottom: 0;
    min-height: 40vh;
    img {
      height: auto;
      width: 100%;
    }
    .data {
      @include flex-column-center;
      @include flex-align-end;
      text-align: right;
      min-height: 70px;
      color: white;
      .token-name {
        @include alt-bold;
        display: block;
      }
      .etherscan-link {
        max-width: 180px;
        display: block;
      }
    }
  }

  .info-block {
    background-color: $yellow;
    padding: get-spacer(3);
    p, h4 {
      margin-bottom: get-spacer(3);
      &:last-child {
        margin: 0;
      }
    }
    h4, label {
      @include bold;
    }
    &.outline {
      background-color: transparent;
      border: 2px solid $yellow;
      color: white;
    }
    label {
      text-transform: uppercase;
      line-height: 12px;
      display: block;
      margin: 0;
    }
  }

  .created-with {
    color: white;
  }
}

#details {
  @include flex-column-center;
  background-color: white;
  min-height: 100vh;
  .section-header {
    text-transform: uppercase;
    .sander-1 {
    }
    h3 {
      @include bold;
    }
  }

  .content-left,
  .content-right {
  }

  .token-img-wrapper {
    @include flex-column-center;
    margin-bottom: get-spacer(5);
    img {
      width: 30%;
    }
  }

  .spotify-widget-wrapper {
    margin: get-spacer(4) 0;
  }

  .details {
  }
}

#token-distro {
  min-height: 100vh;
  #donut {
    // min-height: 350px;
    width: 100%;
  }
}
