<section id="contract-info" class="section">
  <div class="container">
    <header class="section-header">
      <h2 class="bold">Contract Information</h2>
    </header>
    <div class="row">
      <div class="col-sm-6">
        <div class="token-contract">
          <div class="overlay-top">
            <a href="https://github.com/netpoe/SANDER1/blob/master/contracts/SANDER1.sol" target="_blank"><i class="icon-github"></i>
              SANDER1.sol</a>
          </div>
          <div class="overlay-bottom">
          </div>
          <blockquote class="embedly-card">
            <h4><a href="https://ethfiddle.com/ApyLJB9lDQ">SANDER1.sol</a></h4>
          </blockquote>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="crowdsale-contract">
          <div class="overlay-top">
            <a href="https://github.com/netpoe/SANDER1/blob/master/contracts/SuperCrowdsale.sol" target="_blank"><i class="icon-github"></i> SuperCrowdsale.sol</a>

          </div>
          <div class="overlay-bottom">
          </div>
          <blockquote class="embedly-card">
            <h4><a href="https://ethfiddle.com/gbJ8DQ0HTT">SuperCrowdsale.sol</a></h4>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>

<app-menu></app-menu>
