<section id="details" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="token-img-wrapper">
          <img src="assets/svg/superander-token-light.svg" alt="superander token SANDER1" class="superander-token">
        </div>
        <header class="section-header">
          <h3>Each</h3>
          <h2 class="sander-1 display-2 alt-bold">SANDER1</h2>
          <h3 class="display-4">equals 1 song</h3>
        </header>
      </div>
      <div class="col-sm-5">
        <div class="details">
          <h3 class="bold">Invest in the 1st full-length album of <span class="alt-bold">SúperÁnder!</span></h3>
          <br>
          <h4>Each song is worth {{ config.song.price.ETH | number:'1.0-3' }} ETH</h4>
          <h4>The album will have {{ config.song.amount }} songs: <br>{{ (config.song.price.ETH *
            config.song.amount) | number:'1.0-3' }}
            ETH</h4>
          <h4>By owning a share of <span class="alt-bold">SANDER1</span> tokens you'll participate in {{
            (config.crowdsale.shares * 100) }}% of the
            album
            total earnings. Quarterly.</h4>
        </div>
        <a class="btn btn-yellow btn-lg" [routerLink]="['/SANDER1/details']" fragment="token-distro">See token distribution</a>
      </div>
    </div>
  </div>
</section>

<section id="token-distro" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 content">
        <div class="info-wrapper" id="total-tokens-for-sale">
          <h2 class="percentage">{{
            (config.crowdsale.shares * 100) }}<sup>%</sup></h2>
          <h4>of <span class="alt-bold">SANDER1</span> tokens for sale.</h4>
          <h4>Dividends will be distributed quarterly starting from 01 March 2019.</h4>
          <h4>We will be using our <a href="#" target="_blank">Telegram</a> and <a href="#" target="_blank">Medium</a>
            channels to communicate the
            financial reports using <a href="#" target="_blank">Balanc3</a> to track <a href="#">wallet.superander.eth</a> address.</h4>
        </div>
      </div>
      <div class="col-sm-6 content">
        <div class="token-distribution">
          <h2 class="bold">Token Distribution</h2>
          <h4>The album will contain {{ config.song.amount }} songs.</h4>
          <h4>Each ERC20 token is worth 1 song.</h4>
          <h4>Each song costs {{ config.song.price.ETH | number:'1.0-3' }} ETH distributed like this:</h4>
        </div>
        <div id="donut"></div>
      </div>
    </div>
  </div>
</section>

<app-menu></app-menu>
