<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 footer-left">
        <nav>
          <a href="https://open.spotify.com/artist/4M0tyK4jalTpqDIK3MXeK1?si=ZPaYyrj0TW6nqPP8QZ4aAQ" target="_blank">Spotify</a>
        </nav>
      </div>
      <div class="col-6 footer-right">
        <a href="#" class="logo">
          <img src="assets/svg/logo-superander-light.svg" alt="Logo SúperÁnder">
        </a>
      </div>
    </div>
  </div>
</footer>
