<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 footer-left">
        <nav class="social-nav">
          <a href="https://open.spotify.com/artist/4M0tyK4jalTpqDIK3MXeK1?si=ZPaYyrj0TW6nqPP8QZ4aAQ" target="_blank"><i class="icon-spotify"></i></a>
          <a href="https://open.spotify.com/artist/4M0tyK4jalTpqDIK3MXeK1?si=ZPaYyrj0TW6nqPP8QZ4aAQ" target="_blank"><i class="icon-instagram"></i></a>
          <a href="https://open.spotify.com/artist/4M0tyK4jalTpqDIK3MXeK1?si=ZPaYyrj0TW6nqPP8QZ4aAQ" target="_blank"><i class="icon-telegram"></i></a>
          <a href="https://open.spotify.com/artist/4M0tyK4jalTpqDIK3MXeK1?si=ZPaYyrj0TW6nqPP8QZ4aAQ" target="_blank"><i class="icon-youtube-play"></i></a>
          <a href="https://open.spotify.com/artist/4M0tyK4jalTpqDIK3MXeK1?si=ZPaYyrj0TW6nqPP8QZ4aAQ" target="_blank"><i class="icon-medium"></i></a>
          <a href="https://open.spotify.com/artist/4M0tyK4jalTpqDIK3MXeK1?si=ZPaYyrj0TW6nqPP8QZ4aAQ" target="_blank"><i class="icon-soundcloud"></i></a>
        </nav>
      </div>
      <div class="col-6 footer-right">
        <a [routerLink]="['/SANDER1']" fragment="intro" class="logo">
          <img src="assets/svg/logo-superander-fibonacci.svg" alt="Logo SúperÁnder">
        </a>
      </div>
    </div>
  </div>
</footer>
