@import "sass/styles";

.footer {
  background-color: darken($black, 3%);
  position: fixed;
  z-index: 1000;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;

  @include media-breakpoint-down(sm) {
    padding: get-spacer(2) 0;
  }

  .footer-left,
  .footer-right {
    @include flex-column-center;
    min-height: $footer-height;
  }

  .logo {
    text-align: right;
    img {
      height: auto;
      width: 70px;
    }
  }

  .social-nav {
    a {
      margin-right: get-spacer(3);
      color: rgba(white, 0.7);
      font-size: $h5-font-size;
      text-decoration: none;
      display: inline-block;
      &:hover {
        color: white;
      }
    }
    .email {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  .email-mobile {
    font-size: $font-size-base;
    color: rgba(white, 0.7);
    text-decoration: none;
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}
