@import "sass/styles";

.footer {
  background-color: darken($black, 3%);
  position: fixed;
  z-index: 1000;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;

  .footer-left,
  .footer-right {
    @include flex-column-center;
    min-height: $footer-height;
  }

  .footer-left {

  }

  .footer-right {
  }

  .logo {
    text-align: right;
    img {
      height: auto;
      width: 70px;
    }
  }
}
