@import "sass/styles";

#intro {
  @include flex-column-center;
  @include main;

  .title {
    margin-bottom: get-spacer(5);
    color: white;
    small {
      color: rgba(white, 0.7);
    }
  }

  .video-wrapper {
    margin-bottom: get-spacer(3);
    background-color: black;
  }

  .video-wrapper,
  .qr-wrapper,
  .info-block {
    background-color: darken($black, 3%);
    border-radius: $border-radius;
    padding: get-spacer(2);
  }

  .video-wrapper {
    padding-bottom: 0;
  }

  .info-block {
    background-color: $yellow;
    padding: get-spacer(3);
    p, h4 {
      margin-bottom: get-spacer(3);
      &:last-child {
        margin: 0;
      }
    }
    h4, label {
      @include bold;
    }
    &.outline {
      background-color: transparent;
      border: 2px solid $yellow;
      color: white;
    }
    label {
      text-transform: uppercase;
      line-height: 12px;
      display: block;
      margin: 0;
    }
  }

  .created-with {
    color: white;
  }
}


