<section id="intro" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h1 class="title alt-bold"><small>Invest in decentralized music,</small><br><span class="text-yellow">invest in</span> SúperÁnder!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="video-wrapper">
          <video width="100%" height="auto" controls>
            <source src="assets/video/SuperAnder_low.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="info-block outline">
          <h4>Amount raised: {{ supercrowdsale.weiRaised | weiToEther }} ETH</h4>
          <h4>Total cap: {{ supercrowdsale.cap | weiToEther }} ETH</h4>
        </div>
        <small class="created-with">ICO powered by <a href="#" target="_blank">simpleico.com</a></small>
      </div>
      <div class="col-sm-3">
        <app-crowdsale-qr-code></app-crowdsale-qr-code>
        <div class="info-block">
          <p class="bold">Scan this QR with your wallet and send the amount of ETH you are willing to invest.<br><a [routerLink]="['/SANDER1']" fragment="details">See
              token
              info</a></p>
          <p><label>Wallet:</label><a target="_blank" href="#">{{ ens.wallet.name }}</a></p>
          <p><label>Token:</label><a target="_blank" href="#">{{ ens.sander1.name }}</a></p>
          <p><label>Crowdsale:</label><a target="_blank" href="#">{{ ens.crowdsale.name }}</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-menu></app-menu>
