@import "sass/styles";

#intro {
  @include flex-column-center;
  @include main;

  .right {
    @include media-breakpoint-down(sm) {
      margin-top: get-spacer(5);
    }
  }

  .title {
    margin-bottom: get-spacer(5);
    color: white;
    @include media-breakpoint-down(sm) {
      margin-bottom: get-spacer(3);
    }
    small {
      color: rgba(white, 0.7);
    }
  }

  .video-wrapper {
    margin-bottom: get-spacer(3);
    background-color: black;
    // @include media-breakpoint-down(sm) {
    //   height: 420px;
    // }
  }

  .video-wrapper,
  .qr-wrapper,
  .info-block {
    background-color: darken($black, 3%);
    border-radius: $border-radius;
    padding: get-spacer(2);
  }

  .video-wrapper {
    padding-bottom: 0;
  }

  .info-block {
    background-color: $yellow;
    padding: get-spacer(3);
    min-height: 141px;
    @include media-breakpoint-down(sm) {
      min-height: auto;
    }
    p, h4 {
      margin-bottom: get-spacer(3);
      &:last-child {
        margin: 0;
      }
    }
    &.outline {
      @include flex-column-center;
      background-color: transparent;
      border: 2px solid lighten($black, 3%);
      color: white;
      .amount-raised {
        @include media-breakpoint-down(sm) {
          margin-bottom: get-spacer(3);
        }
      }
    }
  }

  .created-with {
    padding: get-spacer(2) 0;
    color: white;
    display: block;
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}


