@charset "UTF-8";

@import "sass/styles";

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/print";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/card";
@import "bootstrap/scss/utilities";

@import "sass/ebm-fonts";
@import "sass/ebm-bootstrap-overrides";
@import "ebm/control/ebm-container-control";
@import "ebm/modules/ebm-header";
@import "sass/ebm-icons";
@import "sass/ebm-global";

html, body {
  background-color: $black;
}

body {
  font-size: 16px;
}

.site-wrapper {
  > .section {
    &:last-child {
      padding-bottom: $footer-height * 2;
    }
  }
}

.section {
  padding-bottom: $footer-height;
  padding-top: $footer-height;
  @include media-breakpoint-down(sm) {
    padding-bottom: 120px;
  }
}

.highcharts-credits {
  display: none;
}

.embedly-card {
  .embdscl0 {
    display: none;
  }
}

#intro {
  .info-block {
    .ens-addresses {
      h4, label {
        @include bold;
      }
      h4 {
        font-size: $font-size-base;
      }
      label {
        text-transform: uppercase;
        line-height: 12px;
        display: block;
        margin: 0;
      }
      p, h4 {
        margin-bottom: get-spacer(3);
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

$rem-percentage: 1.475;
@include media-breakpoint-down(sm) {
  h1, .h1 { font-size: $h1-font-size / $rem-percentage; }
  h2, .h2 { font-size: $h2-font-size / $rem-percentage; }
  h3, .h3 { font-size: $h3-font-size / $rem-percentage; }
  h4, .h4 { font-size: $h4-font-size / $rem-percentage; }
  h5, .h5 { font-size: $h5-font-size / $rem-percentage; }
  h6, .h6 { font-size: $h6-font-size / $rem-percentage; }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.35;
  }
}
