@charset "UTF-8";

@import "sass/styles";

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/print";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/card";
@import "bootstrap/scss/utilities";

@import "sass/ebm-fonts";
@import "sass/ebm-bootstrap-overrides";
@import "ebm/elements/ebm-icons";
@import "ebm/control/ebm-container-control";
@import "ebm/modules/ebm-header";
@import "sass/ebm-global";

html, body {
  background-color: $black;
}

.site-wrapper {
}

.section {
  padding-bottom: 98px;
  padding-top: 98px;
  .section-header {
  }
}
